body {
  background-color: rgb(169, 206, 255);
  display: flex;
}

.App {
  text-align: center;
}

/* Login/SignUp Component */

.component-card-container {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 20%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.component-card-heading h3 {
  font-weight: bold;
  font-size:2rem;
}

.btn-group-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn-group-vertical {
  gap: 0.5rem;
}

.errors {
  color: red;
}

/* Dashboard */

.dashboard{
  display: flex;
}

.dashboard-actions {
  margin-left: 21vw;
  width: calc(100vw - 21vw);
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.sidebar {
  background-color: white;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.2rem;
  height: 100vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.logo {
  border: 1px solid;
  margin: 1rem;
  overflow: auto;
  width:max(calc(20vw - 2rem), 4ch);
}

.logo h1 {
  font-size: clamp(0.3rem, 3vw, 4rem);
}

.user-photo img {
  width: min(10rem, calc(100% - 2rem));
  overflow: auto;
}

.sidebar-content {
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  width: min(calc(20vw - 2rem), 40ch);
}

.user-details {
  width: calc(20vw - 2rem);
}

.user-changes button {
  font-size: clamp(0.6rem, 2vw, 1.2rem);
}
.dashboard-card {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 20vw;
  height: 40vh;
  justify-content: center;
  align-items: center;
}

/* Card */

.card-icon img {
  width: 5rem;
}